.Element{
    width:80%;
    height: 45px;
    margin: auto;
    text-align: center;
    line-height: 45px;
    position: relative;
  }

  .Content {
    width:95%;
    height:100%;
    margin:auto;
    display: inline-block;
    background-color:#607dff;
    display: flex;
    position: relative;
    margin-bottom: 2%;
    border-radius: 10px;
  }

  .Booking {
    width:95%;
    height:100%;
    margin:auto;
    display: inline-block;
    background-color:#81b8d4;
    display: flex;
    position: relative;
    margin-top: 1%;
    border-radius: 10px;
  }

  .Wrapper {
      margin: 1%;
  }