.asd {
    display: inlineBlock;
    
} 


.Element{
    width:80%;
    height:10%;
    margin: auto;
    text-align: center;
    position: relative;
  }

.Content {
    width:100%;
    height:100%;
    margin:auto;
    display: inline-block;
    background-color:#607d8b;
    display: flex;
    position: relative;
  }